/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   BASE
   ========================================================================== */

html {
  color: #222;
  font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1em;
  line-height: 1.4;
  margin: 0;

}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

img {
  width: 100%;
}

h1 {
  color: #000;
}


/* ==========================================================================
    LAYOUT
   ========================================================================== */

div,
section,
footer,
header {
  /* border: 1px solid #ccc; */
}
.row{
  display: grid;
  row-gap: 1rem;
  margin: 0 1rem 3rem 1rem;
}
.row-no-margin{
  margin-bottom: 0 !important ;
}
.column{
  position: relative;
  /* background-color: lightyellow;
  margin-right: 1rem; */
}
.heading {
  text-align: center;
  margin-bottom: 0;
  font-weight: 400;
  font-family: Ubuntu, Verdana, Verdana, Geneva, Tahoma, sans-serif;
  
}

.heading__caption{
  text-align: left;
  font-size: 13px;
  color: white;
  margin-bottom: 0;
}
.caption__text{
  font-size: 10px;
  color: white;
  margin-top: 0;

}
.page__header__logotext{
  text-align: center;
  font-size: 15px;
  
}
.aboutpragraph {
  text-align: center;
  font-size: 0/7rem;
 color: rgb(128, 128, 128);
  margin-top: 0;
}
.aboutcolumn{
  margin-top: 3vh;
  margin-bottom: 3vh;
}
h1{
  font-size: 1.5em;
  font-weight: 100;
}

.metrolics{
  color:rgb(81, 176, 217);
}

.logo{
  max-height: 2.5rem;
  position: absolute;
  bottom: 0;
  width: 170px;
  padding: 1rem 1rem 1rem 30%;
  
}

/* main nav mobile first */
.main-nav{
  display: none;
  flex-direction: column;
  align-items: center;
}

.main-nav__item{
  display: block;
  position: relative;
  width: 100%;
  padding: 1rem 1rem 1rem 100%;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: left;
  color: white;
  line-height: 4rem;
  background-repeat: no-repeat;
}

.main-nav__item::after {
  display: inline-block;
  position: absolute;
  right: 1rem;
}

.main-nav__item.active::after{
  content: "";
}
.abouticon__lightbulb{

  width: 4vw;
 margin: 0 auto;
 border: solid rgb(244, 186, 65) 1px;
 padding: 1.5vw;
}
.abouticon__gallery{

  width: 4vw;
 margin: 0 auto;
 border: solid rgb(94, 191, 141) 1px;
 padding: 1.5vw;
}
.abouticon__settings{

  width: 4vw;
 margin: 0 auto;
 border: solid rgb(215, 105, 99) 1px;
 padding: 1.5vw;
}
.abouticon__pencil{

  width: 4vw;
 margin: 0 auto;
 border: solid rgb(81, 176, 217) 1px;
 padding: 1.5vw;
}

.figure{
  margin-bottom: 0;
}
figcaption{
  background-color: rgb(81, 176, 217);
  margin-top: 0;
  padding: 0.3vw;
}

.sponsorcontainer{
  width: 150px;
  height: 70px;
  background-color: lightgray;
}

.sponsors{
  margin-top: 3vh;
}
.sponsorimg{
  width: 50px;
  height: 40px;
 padding: 1vw;
}
.sponsorimg__2{
  width: 100px;
  height: 40px;
  vertical-align: middle;
  padding: 1vw;
}
.heading__peewee{
  text-align: left;
}
.footertext{
  color: white;
}
/* Small only */
@media screen and (max-width: 39.9375em) {

  .logo{
    max-height: 3rem;
    position:static;
  }

  .s-hide{
    display: none;
  }
  .s-show{
    display: flex;
  }
  .mobile-nav {
    position: absolute;
    right: 1rem;
    top: 0rem;
    z-index: 1;
    font-size: 0rem;
    padding: 1.5rem;
    background-image: url(../img/icon/img_icon_bars.svg);
    background-repeat: no-repeat;
    background-size: 1.8rem;
    background-position: center center;
    background-color: #2a6eeb;
  }
  /* .main-nav{
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .main-nav__item{
    display: block;
    position: relative;
    width: 100%;
    font-size: 1.3rem;
    text-decoration: none;
    text-align: left;
    color: white;
    line-height: 4rem;
    background-repeat: no-repeat;
    background-position-x: 44%;
    background-position-y: center;
    background-size: 2.1rem, 1.7rem;
  } */
  .main-nav__item::after {
    display: inline-block;
    position: static;
    padding-left: 1rem;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {
  .row {
    /* display: grid; */
    width: 85vw;
    max-width: 70rem;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin: 0 auto 3rem auto;
  }
  .sub-grid{
    display: grid;
    column-gap: 0.5rem;
    row-gap: 0.5rem;
  }
  .m-col-2{
    grid-template-columns: 1fr 1fr ;
  }
  .m-col-3{
    grid-template-columns: repeat(3, 1fr) ;
  }
  .m-col-4{
    grid-template-columns: repeat(4, 1fr) ;
  }
  .m-col-5{
    grid-template-columns: repeat(5, 1fr);
  }
  .m-1-2{
    grid-template-columns: 1fr 2fr;
  }
  .span-full{
    grid-column-start: 1;
    grid-column-end: -1;
  }
 .main-nav{
  display: flex;
  flex-direction: row;
}
.main-nav__item{
  padding: 4rem 1rem 0rem 0.5rem;
  line-height:2rem;
  font-size: 0.8rem;
  text-align: left;
  background-color: rgb(184, 184, 184);

  background-position-x: center;
  background-position-y: center;
  background-size: 2.3rem, 1.4rem;

}
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  .special-project {
    grid-column-start: 1;
    grid-column-end: -1;
  }

  .m-hide {
    display: none;
  }


}

/* Large and up */
@media screen and (min-width: 64em) {
  .l-col-2{
    grid-template-columns: 1fr 1fr ;
  }
  .l-col-3{
    grid-template-columns: repeat(3,1fr) ;
  }
  .l-col-4{
    grid-template-columns: repeat(4,1fr) ;
  }
  .l-col-5{
    grid-template-columns: repeat(5,1fr) ;
  }
  .l-col-6{
    grid-template-columns:repeat(6,1fr) ;
  }

  .page__slider__img{

 width: 500px;

  }
  .l-hide{
    display: none;
  }
}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
}

/* ==========================================================================
   MODULES
   ========================================================================== */




/* ==========================================================================
   THEME
   ========================================================================== */
  .page__footer {
    background-color: #222;

  }
  .page__footer .row{
    background-image: url(../img/content/bg_colorbar-1.png);
    background-repeat: no-repeat;
    background-position: bottom right;
  }
  .page__slider{
    background-color: rgb(230, 230, 230);
  }
  .project{
    margin: 0;
  }

  .main-nav__item:nth-child(1){
    background-color: #23c389;
    background-image: url(../img/icon/img_icon_circle.svg), url(../img/icon/img_icon_bullhorn.svg);

  }
  .main-nav__item:nth-child(2){
    background-color: #ffb901;
    background-image: url(../img/icon/img_icon_circle.svg), url(../img/icon/img_icon_bullhorn.svg);
  }
  .main-nav__item:nth-child(3){
    background-color: #de6262;
    background-image: url(../img/icon/img_icon_circle.svg), url(../img/icon/img_icon_bullhorn.svg);
  }
  .main-nav__item:nth-child(4){
    background-color: #1691bd;
    background-image: url(../img/icon/img_icon_circle.svg), url(../img/icon/img_icon_bullhorn.svg);
  }
  .main-nav__item:nth-child(5){
    background-color: #166ba2;
    background-image: url(../img/icon/img_icon_circle.svg), url(../img/icon/envelope.svg);
  }
 
/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " ("attr(href) ")";
  }

  abbr[title]::after {
    content: " ("attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}
